form {
  text-align: center;
  margin: 3rem auto;
  max-width: 80%;
}

[type="submit"] {
  font-family: 'Montserrat', sans-serif;
  background: #40B2B2;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 0.8rem 2rem;
}

[type="submit"]:hover {
  background: #06a0a0;
}


.input-field {
  color: #7d7d7d;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border-radius: 2px;
  line-height: 22px;
  background-color: transparent;
  border: 1px solid #40B2B2;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.input-field:focus {
  border: 2px solid #40B2B2;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

/* Media queries  */

@media (min-width: 1440px) {
  form {
    max-width: 50%;
  }
}
