.hero {
  flex-flow: column;
  max-width: 50rem;
  margin: 5rem auto;
  font-size: 30px;
  max-height: 100vh;
}

.hero-content {
  padding: 0 2rem;
}

.hero .pink-text {
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.hero-img {
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 30rem;
}

.button-intro {
  margin-top: 5.5rem;
}

.button-intro a {
  background-color: #40B2B2;
  color: #fff;
  padding: 16px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  border-radius: 2px;
}

.button-intro a:hover {
  background-color: #06a0a0;
}

.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from {transform: translate(0, 0px);}
  65% {transform: translate(0, 15px);}
  to {transform: translate(0, -0px);}
}

/* Media queries  */


@media (max-width: 770px) {
  .hero {
    font-size: 20px;
  }
  .button-intro {
    margin-top: 4rem;
  }
  .hero-img {
    width: 18rem;
    margin-top: 1rem;
  }
}
